body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.output-box {
  width: 49%;
  height: 600px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-container {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.form-label {
  padding-right: 30px;
}

.form-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 16px;
  padding-right: 24px;
}

.form-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit:hover {
  background-color: #45a049;
}

/* Flexbox styles to align form fields in a row */
.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  column-gap: 20px;
}